@font-face {
  font-family: Ananda;
  src: url(fonts/ananda/Ananda.ttf);
}


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: myriad-pro, sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}



/* --------- LOGIN --------- */

.auth-bg{
  background-image: url("../img/top.svg");
  background-repeat: no-repeat;
}

.bottom{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 175px;
  background-image: url("../img/bottom");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}


.auth-container{
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80%;
  margin: auto 0;
}

.auth-titre{
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
  color: #10898C;
  font-style: normal;
  font-weight: 400;
}

.logo-auth{
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 0 15px 0;
}



#input-identifiant, #input-password{
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  padding-left: 30px ;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px grey solid;
  color: black !important;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

.input-container > ::placeholder{
  color: #8C8C8C);
  font-family: 'Abel', sans-serif;
}

.form-auth{
  width: 200px;
  margin-top: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icones-auth{
  width: 20px;
  height: 20px;
  position: relative;
  top: 25px;
}

.button-auth{
  display: block;
  width: 200px;
  height: 30px !important;
  margin: 20px auto;
  border-radius: 8px;
  background-color: #10898C;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
  z-index: 2;
}



nav{
  width: 220px;
  height: 100vh;
  background-color: #4BB5C1;
  font-size: 18px;
  border-right: 1px solid #3a8084;
  z-index: 3;
  position: fixed;
}

nav > img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: white 1px solid;
  margin: 30px auto 50px;
}



nav li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation{
  padding: 0;
}

nav a{
  color: white;
  text-decoration: none;
}

.nav-item{
  height: 40px;
  width: 100%;
  padding: 0 0 0 20px;
  line-height: 35px;
}

.nav-item:hover{
  background-color: #339fa5;
}

.nav-active{
  border-right: 5px solid white;
  background-color: #297175;
}

.deco-button{
   text-transform: uppercase;
   position: absolute;
   top: 50px;
   right: 30px;
   color: #297175;
   text-decoration: none;
   font-size: 16px;
}

header{
  width: 100%;
  height: 120px;
  margin: 0;
  background-color: white;
}

header > h1{
  font-family: Ananda;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 110px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
}

.container-patient, .prog-container {
  display: inline-block;
  width: calc(100vw - 220px);
  margin-left: 220px;
}

.information-container{
  padding: 40px 0 0 60px;
  background-color: #EFF1F2;
  height: calc(100vh - 120px);
}

.search-patient-container{
  width: 100%;
}

.search-patient{
  display: inline-block;
  width: 60%;
  height: 40px;
  padding-left: 20px;
  border-radius: 12px;
  border: 1px solid white;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

textarea:focus, input:focus{
    box-shadow: 0 0 1px 2px #5cb7bc;
    outline: none;
    border: none;
}

.add_patient{
  background-color: #EFF1F2;
  border: 1px white;
  width: 200px;
  font-size: 18px;
  margin: 0 0 0 50px;
}

.add_patient i{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #4BB5C1;
  margin-right: 10px;
  line-height: 25px;
}

.add_patient > a {
  color: #4BB5C1;
  text-decoration: none;
}

.table-patients{
  margin: 50px 0 0 0;
  border: none;
  border-collapse: 0;
  border-spacing: 0;
  width: 80%;
  min-width: 850px;
}

.table-head{
  border: 1px solid black;
  height: 70px;
  font-size: 20px;
  background-color: white;
  color: #696969;
}

.table-head> th{
  width: 120px;
  border-bottom: 20px solid #EFF1F2;
}

.table-infos{
  text-align: center;
  background-color: white;
  margin: 50px 0 0 0;
  height: 35px;
}


.table-nom-titre{
  width: 120px !important;
  text-align: left;
  padding-left: 10px;

}

.table-nom-patient{
  width: 120px !important;
  text-align: left;
  padding-left: 10px;
  height: 30px;
  color: #4BB5C1;
  text-transform: uppercase;
}

.table-prenom-patient{
  color: #4BB5C1;
}

.table-nom-email{
  width: 220px !important;
}

.profil{
  text-transform: uppercase;
  color: #297175;
  font-size: 15px;
  text-decoration: none;
}

.inputs-add-patient-general{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 40px;
}

.inputs-add-patient-general h3{
  margin: 5px 0 10px 5px;
  font-size: 15px;
}

.info-add-patient1{
  width: 70%;
  min-width: 815px;
  max-width: 925px;
  background-color: #EFF1F2;
  padding: 20px;
  margin: 30px 0;
  height: 300px;
}

.info-add-patient2{
  width: 70%;
  min-width: 815px;
  max-width: 925px;
  background-color: #EFF1F2;
  padding: 20px;
  margin: 30px 0;
  height: auto;
}

.flex-add{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input-add-css{
  display: block;
  width: 350px;
  height: 40px;
  border: 0;
  padding: 0 0 0 10px;
  margin: 10px 0;
}

.add-antecedent{
  margin: 10px 0 0 20px;
  resize: none;
  width: 500px;
  height: 120px;
  border: 0;
  padding: 10px;
}

.compltetion{
  margin: 20px 0 0 20px;
}

.add-patient{
  display: block;
  width: 220px;
  height: 55px;
  background-color: #4BB5C1;
  color: white;
  border: 0;
  margin: 0 0 0 0;
  font-size: 18px;
}

.add-patient:hover{
  background-color: #339fa5;
  cursor: pointer;
}

.add-patient:active{
  background-color: #297175;
  outline: none;
  border: none;
}

.bg-fiche{
  background-color: #EFF1F2 !important;
}

.fiche-patient-box{
  width: calc(100vw - 300px);
  height: 80%;
  background-color: white;
  margin: 30px;
  display: flex;
  flex-direction: row;
}

.fiche-gauche{
  width: 200px;
  border-right: 1px solid #4BB5C1;
  display: flex;flex-direction: column;
}

h4{
  text-align: center;
}

.photo{
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.fiche-exo-box{
  width: 90%;
  height: 50px;
  text-align: center;
  background-color: #DBFCFC;
  font-size:  11px;
  line-height: 47px;
  font-weight: bold;
  margin: 5px  auto;
  padding: 0 5px;
}

.fiche-mid{
  width: 100%;
}

.header-info{
  height: 200px;
  background: linear-gradient(to right, #4BB5C1, #74C5C1);
  color: white;
  font-size: 14px;
  padding: 30px 0 0 50px ;
}

.header-info > p {
  margin: 7px;
}

.nom-prenom{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px 0 !important;
}

.fiche-nom{
  text-transform: uppercase;
}

.antecedent-rdv{
  padding: 20px 20px 0 30px;
}

.antecedent-rdv > h3 {
  text-align: center;
  text-transform: uppercase;
}

.antecedent-area{
  margin-bottom: 50px;
}

.add_programme{
  display: block;
  background-color: white;
  border: 1px white;
  width: 210px;
  font-size: 18px;
  margin: 30px auto;
}

.add_programme i{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #4BB5C1;
  margin-right: 10px;
  line-height: 25px;
}

.add_programme > a {
  color: #4BB5C1;
  text-decoration: none;
}

.feedback-field{
  display: flex;
  justify-content: space-between ;
  flex-direction: column;
  min-width: 250px;
  max-width: 250px;
}

.feedback-field > h3{
  text-align: center;
  font-size: 16px;
  margin: 30px 0;
}

.main-prog-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 900px;
  margin: 40px auto;
  background-color: white;
  padding: 20px 0 20px 35px;
}


.h1-programme{
  font-size: 16px;
}

.titre-prog, .search-bar-exos{
  width: 400px;
  height: 30px;
  padding: 3px 5px;
  background-color: #DBFCFC;
  border: 0;
}

.option-exo{
  background-color: #DBFCFC;
}

#frequence, #recurrence{
  width: 50px;
  height: 40px;
  padding: 3px 5px;
  background-color: #DBFCFC;
  border: 0;
  text-align: center;
}

.information-programme{
  width: 100%;
}

.affichage-container{
  width: 350px;
  height: auto;
  margin: 10px 0;
  border-left: 1px solid #4BB5C1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.affichage{
  width: 90%;
  margin: 0 auto;

}

.titre-prog{
  margin: 0 0 20px 0;
}

.bouton-remove{
  width: 100%;
  background-color: #DBFCFC;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
}

.suppr{
  width: 30px;
  height: 30px;
  display: block;
  background-color: white;
  color: black;
  border: 0;
}

.exo-affichage{
  width: 90%;
  display: block;
}

.erreur-programme{
  color: #ef4f64;
  font-size: 12px;
}

.description{
  height: auto;
  min-height: 100px;
  text-align: justify;
}
.video-programme{
  margin: 0 auto;
  width: auto;
}

.description-infos{
  width: 70%;
  min-width: 450px;
  height: 520px;
  margin: 40px 0 20px;
  box-shadow: 0 0 5px 1px #cecece;
  border-radius: 50px;
  padding: 20px;
}

.description-infos h3 {
  margin: 0 0 10px 0;
}

.add-exercice{
  display: block;
  background-color: white;
  border: 1px solid #4BB5C1;
  border-radius: 20px;
  color: #4BB5C1;
  width: 170px;
  height: 30px;
  padding: 3px 10px;
  cursor: pointer;
  margin: 20px 0 0 20%;
}

.add-programme{
  display: block;
  background-color: white;
  border: 1px solid #4BB5C1;
  border-radius: 20px;
  color: #4BB5C1;
  width: 170px;
  height: 30px;
  padding: 3px 10px;
  cursor: pointer;
  margin: 50px 0 0 20% !important;
}


.main-prendre-rdv{
  min-width: 500px;
  max-width: 750px;
  height: auto;
  margin: 40px;
  background-color: white;
  padding: 20px 0 20px 35px;
}


.add_rdv{
  display: block;
  background-color: white;
  border: 2px solid #4BB5C1;
  border-radius: 20px;
  color: #4BB5C1;
  width: 175px;
  height: 35px;
  font-size: 18px;
  padding: 3px 10px;
  cursor: pointer;
}

.main-prendre-rdv input {
  width: 30%;
  min-width: 200px;
  height: 25px;
  padding: 3px 10px;
  background-color: #DBFCFC;
  border: 0;
  margin: 10px 0 20px 0;
}

.main-prendre-rdv textarea{
  width: 50%;
  min-width: 200px;
  height: 100px;
  padding: 3px 10px;
  background-color: #DBFCFC;
  border: 0;
  margin: 10px 0 20px 0;
  resize: none;
}

.main-rdv{
  width: 70%;
  height: auto;
  background-color: white;
  padding: 50px;
  margin: 20px;

}

.main-rdv h3{
  margin: 20px 0 7px 0;
  max-width: 780px;
  min-width: 600px;
}

.search-rdv{
  width: 30%;
  min-width: 200px;
  height: 25px;
  padding: 3px 10px;
  background-color: #DBFCFC;
  border: 0;
  margin: 10px 0 20px 0;
}

.table{
  margin: 20px 0 0 0;
  border: none;
  border-spacing: 0;
  width: 100%;
}

.table td{
  text-align: center;
}

.table-head-rdv> th{
  width: 120px;
  border-bottom: 10px solid white;
}

.table-space > td{
  border-top: 1px solid black;
  height: 35px;
}
